<h1>Welcome To Our Website, <%= @user.username %></h1>

<p>
  You have succesffully signed up in our website,
  Your username is <%= @user.username %>
</p>

<p>
  Thanks For Joining Have a Great Day.
</p>
