<p>Greetings</p>

<h1>Event Reminder</h1>

<p>This is a reminder for the event</p>

<h3>Title: <%= @event.title %></h3>
<p>Description: <%= @event.description %></p>
<p>Date and Time: <%= @event.eventdate %></p>

<p>Thank you for enrolling into our event</p>
